extends ../layouts/main.pug

block title
  title Blog

block content
  div(class="container blog-page show-page")
    div(class="row")
      div(class="col-md-8")
        div(class="content-box")
          div(class="row")
            h1= post.title
            div(class="col-md-12")
              img(src= post.img)
            div(class="col-md-12")
              h2= post.category
              p= post.description
              a(href="/blog/" + post.slug + "/delete") DELETE
        div
          form(method="POST", action="/blog/" + post.slug + "/edit")
            input(type="button", onclick="location.href='/blog/" + post.slug + "/edit'", name="_id", value="Edit Post")     
      div(class="col-md-4")
        div(class="content-box")
          include ../includes/side-ad.pug
